/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

/**
 * TokyoNight colorscheme
 * Ref TBD
 */
:root {
    --color-accent: #3d59a1;
    --color-background: #1a1b26;
    --color-text: #c0caf5;
    --color-blue: rgb(122, 162, 247);
    --color-magenta: rgb(187, 154, 247);
    --color-orange: rgb(255, 158, 100);
    --color-yellow: rgb(224, 175, 104);
    --color-green: rgb(158, 206, 106);
    --color-teal: rgb(26, 188, 156);
    --color-red: rgb(255, 117, 127);
    --color-background2: #00000000;
}

/**
 * Kanagawa colorscheme
 * Ref TBD
 */
/*:root {*/
/*    --color-accent: #2d4f67;*/
/*    --color-background: #1f1f28;*/
/*    --color-text: #dcd7ba;*/
/*    --color-blue: #7e9cd8;*/
/*    --color-magenta: #957fb8;*/
/*    --color-orange: #ffa066;*/
/*    --color-yellow: #c0a36e;*/
/*    --color-green: #76946a;*/
/*    --color-teal: #6a9589;*/
/*    --color-red: #c34043;*/
/*    --color-background2: #00000000;*/
/*}*/

body,
button {
    color: var(--color-text);
    font-family:
        Iosevka Nerd Font,
        monospace;
    font-size: 14px;
    overflow: hidden;
}

html,
body,
#root {
    height: 100%;
}

#root {
    background: var(--color-background2);
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    height: 100%;
    padding: 0 5px;
}

.left,
.center,
.right {
    display: flex;
    height: 25px;
    align-items: center;
    background-color: var(--color-background);
    border-radius: 4px;
}

.left {
    justify-self: start;
}

.center {
    justify-self: center;
}

.right {
    justify-self: end;
    grid-column: 3/4;
    padding-right: 8px;
}

.logo,
.binding-mode,
.network,
.memory,
.cpu,
.up-checker,
.battery {
    margin-right: 15px;
    display: flex;
}

.center.title {
    text-overflow: ellipsis;
}

.tiling-direction {
    margin-right: 10px;
}

.workspaces {
    display: flex;
    align-items: center;
    height: 100%;
}

.workspace,
.btn {
    padding: 0px 8px;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
    border-radius: 4px;
    transition: all 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: var(yellow);
    }
}

.btn:hover {
    background-color: var(--color-magenta);
    border-radius: 4px;
    color: var(--color-background);
}

.workspace__selector {
    position: absolute;
    transition: all 0.3s;
    transform: translateX(50%);
    background-color: var(--color-yellow);
    border-radius: 4px;
    height: 25px;
}

.workspace.focused {
    color: var(--color-background);
}

.workspace--secondary {
    color: var(--color-text);
}

.binding-mode,
.tiling-direction {
    background: var(--color-background2);
    line-height: 1;
    padding: 4px 8px;
    border: 0;
    cursor: pointer;
}

.binding-mode {
    margin-right: 4px;
}

.cpu .high-usage {
    color: var(--color-red);
}

.battery {
    position: relative;
}

.battery .charging-icon {
    position: absolute;
    font-size: 7px;
    left: -8px;
    top: 3px;
}

.up-checker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-checker .icon {
    height: 6px;
    width: 6px;
    border-radius: 100%;
}

.media__btn-box {
    display: flex;
    height: 100%;
}

.keyboard {
    margin-right: 10px;
}

.keyboard svg {
    height: 14px;
}

.center > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    scale: 1.2;
    margin-right: 2ch;
    color: var(--color-accent);
}

.left .icon {
    color: var(--color-orange);
    padding-left: 8px;
}

.tiling-direction .icon {
    color: var(--color-green);
}

.up-checker .icon {
    background-color: var(--color-blue);
    margin-right: 1ch;
}

.up-checker .icon--offline {
    background-color: var(--color-red);
}

.memory .icon {
    color: var(--color-magenta);
}

.cpu .icon {
    color: var(--color-teal);
}

.battery .icon {
    color: var(--color-blue);
}

.clock .icon {
    color: var(--color-blue);
}
